body { 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f9; padding: 0; 
    margin: 0; 
} 

#app { 
    max-width: 500px; 
    margin: 50px auto; 
    padding: 20px; 
    background: white; 
    border-radius: 5px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.1); 
} 
